body {
    font-family: Roboto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    max-height: 800px;
}
h1 {
    text-align: center;
}

.card {
    width: 336px;
    border-radius: 10px;
    border: 1px solid grey;
}

.window-input {
    min-width: 200px;
    min-height: 30px;
    height: auto;
    width: auto;
}

.input-list {
    margin: 42px 22px 18px 28px;
    border-radius:10px;
    border: 1px solid grey;
    display: flex;
    
}

input {
    height: 40px;
    width: 286px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
.btn-append {
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    margin-left: 92px;
    margin-right: 94px;
    margin-bottom: 18px;
    width: 150px;
    height: 42px;
    background-color: #9953F1;
    border-radius: 71px;
    color: white;
}
.icon-plus {
    align-items: center;
    justify-content: center;
    display: flex;
    top:1px;
    right: 15px;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #AA68FE;;
    border-radius: 71px;
    font-style: border;
}
.box-btn-del {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.btn-delete {
    
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #C4C4C4;;
    border: 1px solid; 
    border-radius: 71px;
}

